
  .p{     
    font-size: 1.18rem;
    line-height: 1.90em;
    font-weight: 400;
    color: rgba(23, 27, 46, 0.63);
    letter-spacing: 0.001em;
  }

 
  .h2 {
    font-family: var(--primary-font);  
    color: #363855;
    font-size: 1.9rem;
    letter-spacing: 0.02em; 
    font-weight: 700;
  }

  .h3 {
    font-family: var(--primary-font);     
    font-size: 1rem;
    letter-spacing: 0.02em; 
    font-weight: 500;    
  }
  .h4 {
    font-family: var(--primary-font);     
    font-size: 0.90rem;
    letter-spacing: 0.01em; 
    font-weight: 400;    
  }
 
  .h2-title {
    font-family: var(--primary-font);  
    color: #363855;
    font-size: 1.9rem;
    letter-spacing: 0.02em; 
    font-weight: 700;
  }

  /* Fonts */  
  .about-title {
    font-family: var(--primary-font);  
    color:  var(--primary-color);  
    font-size: 1.9rem;
    letter-spacing: 0.02em; 
    font-weight: 700;    
  }
  .login-title {
    font-family: var(--primary-font);
    font-size: 1.3rem!important;
    letter-spacing: 0.08em!important;
    margin-bottom: 1em!important; 
    font-weight: 600;
    text-transform: initial!important;    
  }
  
  /* Desktop */  
@media only screen and (max-width: 1390px) {  
  .about-title {   
    font-size: 1.37rem;
    letter-spacing: 0.02em; 
    font-weight: 700;
  }
  .p{     
    font-size: 0.94rem!important;
    line-height: 1.62em;
    font-weight: 400;
    color: rgba(23, 27, 46, 0.63); 
    letter-spacing: 0.001em;
  } 
}
  /* Desktop */  
  @media only screen and (max-width: 1040px) {  
    .about-title {   
      font-size: 1.27rem;
      letter-spacing: 0.02em; 
      font-weight: 700;
    }
    .p{     
      font-size: 0.90rem!important;
      line-height: 1.62em;
      font-weight: 400;
      color: rgba(23, 27, 46, 0.63); 
      letter-spacing: 0.001em;
    } 
  }
  @media only screen and (max-width: 450px) {  
    .h4 {
      font-family: var(--primary-font);     
      font-size: 0.70rem;
      letter-spacing: 0.01em; 
      font-weight: 400;    
    }

    .p{     
      font-size: 0.80rem!important;      
    } 
    
    .about-title {
      font-size: 0.98rem;
      margin-bottom: 10px;
      letter-spacing: 0.01em;
      text-align: center!important;
  }
  }